body {
  background-color: rgb(48, 75, 22);
}

#app {
  background-color: rgb(220, 237, 152);
  border: 5px solid whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: rgb(45, 75, 76);
  box-shadow: 2px 3px 7px rgb(156, 151, 139);
  text-align: center;
}

button {
  background-color: cadetblue;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: whitesmoke;
}
